* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

header {
	background-color: #ffffff;
	/* 0 in X 3px in Y and 10px of blur */
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	position: sticky;
	top: 0;
}

nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: auto;
	min-height: 8vh;
	width: 90%;
}

header h1, nav ul {
	font-size: 1.3rem;
	flex: 1;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav a {
	color: #000000;
	text-decoration: none;
}

section {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

section h2 {
	color: #ffffff;
	font-size: 5rem;
}

.home {
	background: linear-gradient(to bottom, #e8b2b9, #0ABFBC);
}

.gallery {
	background: linear-gradient(to bottom, #0ABFBC, #49498e);
}

.projects {
	background: linear-gradient(to bottom, #49498e, #8e44ad);
}

.bubble-effect {
	background: linear-gradient(to bottom, #FC354C, #0ABFBC);
	border-radius: 20px;
	position: absolute;
	transform: scale(2);
	transition: all 0.4s ease;
	z-index: -2;
}